@model Form
@{
	ViewData["Title"] = "Home Page";
	int i = 0;
}
<div class="row">
	<div class="col-md-4">
		<form asp-action="submit">
			
			@Html.HiddenFor(m => m.Name)

			<input type="hidden" value="@Model.Name"/>

			@*@Html.EditorFor(m => m.Attributes)*@

			@for (i = 0; i < Model.Attributes.Count; i++)
			{
				@Html.EditorFor(m => m.Attributes[i], Model.Attributes[i].Type, "[" + i + "]")
				;
			}

			@*@foreach (var attribute in Model.Attributes)
			{
				@Html.EditorFor(m => attribute, attribute.Type, "[" + i++ + "]");
			}*@

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default"/>
			</div>
		</form>
	</div>
</div>